{% macro month_name(month) %}
{{ [
    'January', 'February', 'March', 'April', 'May', 'June',
    'July', 'August', 'September', 'October', 'November', 'December'
][month -1] }}
{% endmacro %}

{% macro month_weeks(year, month) %}
{%- set import_calendar = cycler() -%}
{%- set calendar = namespace(obj=None) -%}
{%- do namespace.update(obj=import_calendar.init()) -%}
{%- set cal = cycler() -%}
{%- import_calendar = cycler() -%}
{%- import calendar as pycal -%}
{%- set first_weekday = pycal.monthcalendar(year, month) -%}
{{ first_weekday }}
{% endmacro %}
